*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  background: #FFFFFF;
}

.page_header {
  width: 1900px;
  min-height: 900px;
  background-image: linear-gradient(180deg, #eda418 47.4%, rgba(237,164, 24, 0) 100%);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70px;
  padding-top: 105px;
  padding-right: 65px;
}

.logo {
  display: block;
  margin-top: 8px;
}

.navigation_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto 0;
  padding: 0;
  margin-left: 148px;
  list-style: none;
}

.navigation_title_main {
  display: block;
  min-width: 200px;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
}

.navigation_title {
  display: block;
  min-width: 200px;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
}

.navigation_button {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #000000;
  border: none;
  border-radius: 100px;
}

.container_page_header {
  display: flex;
  padding-top: 23px;
  gap: 20px;
  padding-left: 300px;
}

.text_header_list {
  width: 600px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.text_header {
  margin: 0;
  padding: 0;
  padding-top: 190px;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
}

.text_header_discount {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.container_button_header {
  display: block;
  margin: 0;
  padding: 25px;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #FFFFFF;
  background: #E52626;
  border-radius: 50px;
  border: none;
}

.page_main {
  width: 1900px;
  min-height: 900px;
  text-align: center;
}

.container_catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog_title {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}

.catalog_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-left: 15px;
  margin-top: 38px;
  padding: 0;
  gap: 40px 30px;
  list-style: none;
}

.catalog_itam {
  width: 450px;
}

.catalog_text {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
}

.page_footer {
  width: 1900px;
  min-height: 450px;
  text-align: center;
  background-image: linear-gradient(0deg, #eda418 47.4%, rgba(237,164, 24, 0) 100%);
}

.footer_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 157px;
  gap: 101px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  justify-content: center;
  list-style: none;
}

.footer_title {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
}

.footer_page_text {
  margin: 0;
  padding: 0;
  padding-top: 21px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  list-style: none;
}

.footer_text {
  margin: 0;
  padding: 0;
  padding-top: 24px;
}

.footer_contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  list-style: none;
  padding-top: 25px;
}

.footer_imges {
  display: block;
}
